@use '../../../styles/colors';

.Kalend__DayViewOneDay {
  position: relative;
  flex-direction: column;

  &-dark {
    @extend .Kalend__DayViewOneDay;
  }
}

.Kalend__DayViewOneDay__border-left {
  border-left: solid 0.6px colors.$GRAY_300;

  &-dark {
    @extend .Kalend__DayViewOneDay__border-left;
    border-left: solid 0.6px colors.$GRAY_900;
  }
}
